{% extends "layout.html" %}

{% block content %}

  <h1>Travel with us</h1>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Prices</th>
        <th>Take off</th>
        <th>Landing</th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>

      {% for flight in flights %}

        <tr>
          <td>
            <h4>{{ flight.DepartureCountry }}</h4>
            {{ flight.DepartureName }} ({{ flight.Departure }})
          </td>
          <td>
            <h4>{{ flight.DestinationCountry }}</h4>
            {{ flight.DestinationName }} ({{ flight.Destination }})
          </td>
          <td>
            <strong>Coach:</strong> {{ flight.StandardPriceCoach }} <br>
            <strong>Business:</strong> {{ flight.StandardPriceBusiness }} <br>
            <strong>First class:</strong> {{ flight.StandardpriceFirstClass }} <br>
          </td>
          <td>{{ flight.TakeOff | date("Y-m-d H:i") }}</td>
          <td>{{ flight.Landing | date("Y-m-d H:i") }}</td>
          <td><a href="{{ path_for('travel', { id: flight.FlightID }) }}" class="ui primary button">Book</a></td>
        </tr>

      {% endfor %}

    </tbody>
  </table>



{% endblock %}
