{% extends "layout.html" %}

{% block content %}

  <h1>Book flight</h1>

  <div id="message"></div>

  <form action="{{ path_for('submitBooking', {id: flight.getFlightID() }) }}" method="POST" id="formBooking" class="ui form">
    <h4 class="ui dividing header">Personal Information</h4>

    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="booking[FirstName]" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="booking[LastName]" placeholder="Last Name">
        </div>
      </div>
    </div>

    <div class="field">
      <label>Address</label>
      <input type="text" name="booking[Address]" placeholder="Address">
    </div>

    <div class="field">
      <label>Phone number</label>
      <input type="text" name="booking[PhoneNr]" placeholder="Phone number">
    </div>

    <div class="field">
      <label>Email</label>
      <input type="text" name="booking[Email]" placeholder="Email">
    </div>

    <h4 class="ui dividing header">Seats</h4>

    <div class="ui segment" id="price-1">
      <div class="float-r">{{ flight.getBookedSeats()[1] }} / {{ flight.getAircraft().CoachSeats }}</div>
      <strong>Coach:</strong> <span>{{ flight.getPrices().Coach | number_format }}</span> SEK
    </div>
    <div class="ui segment" id="price-2">
      <div class="float-r">{{ flight.getBookedSeats()[2] }} / {{ flight.getAircraft().BusinessSeats }}</div>
      <strong>Business:</strong> <span>{{ flight.getPrices().Business | number_format }}</span> SEK
    </div>
    <div class="ui segment margin-b-10" id="price-3">
      <div class="float-r">{{ flight.getBookedSeats()[3] }} / {{ flight.getAircraft().FirstClassSeats }}</div>
      <strong>First class:</strong> <span>{{ flight.getPrices().FirstClass | number_format }}</span> SEK
    </div>

    <div class="field">

      <div id="data"
        data-booked-seats="{{ flight.getBookedSeats() | json_encode() }}"
        data-aircraft="{{ flight.getAircraft() | json_encode() }}"
        data-prices="{{ flight.getPrices() | json_encode() }}">
      </div>

      <label>Choose seat type</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="booking[SeatType]" id="selectedSeatType">
        <div class="default text">Seat type</div>
        <i class="dropdown icon"></i>
        <div class="menu">

          {% for seatType in seatTypes %}

            <div class="item" data-value="{{ seatType.getSeatTypeID() }}">
              {{ seatType.getDescription() }}
            </div>

          {% endfor %}

        </div>
      </div>
    </div>

    <div class="ui raised segment green margin-b-10" id="total-price"></div>

    <button class="ui button" type="submit" id="formSubmitButton" disabled>Submit</button>

  </form>

{% endblock %}
